/*.screen{*/
/*    border: 1px solid black;*/
/*    height: 200px;*/
/*    width: 200px;*/
/*    float: right;*/
/*    color: #d61b06;*/

/*}*/
/**{
/**!*/

.game{
    border: none;
    height: 570px;
    width: 420px;
    background: #c7c3c3;
}


