/*.screen{*/
/*    border: 1px solid black;*/
/*    height: 200px;*/
/*    width: 200px;*/
/*    float: right;*/
/*    color: #d61b06;*/

/*}*/
/**{
/**!*/
body{
    background-image: url("backgr.jpeg") ;
}
.game{
    border: 5px solid #2e6e67 ;
    height: 570px;
    width: 360px;
    margin-left: 900px;
    margin-top: 50px;

}

#block{
    background: #3d8880;
}


