.box{
    background: #c7c3c3;
    width: 200px;
    height: 50px;
}

button {
    background: greenyellow;
    color: white;
    border-collapse: collapse;
    border-color: greenyellow;

}

tr:nth-child(even){
    background: #5f6062;
}
td{
    width: 150px;
}